$dividergray: #e1e4e8;
$bggray: #f6f8fa;

/// PS ONE OPTIONS CONTROLOS AND BLOCK STYLES
/// MUST REUSE IN FUTURE

$leftmenuMainBg: #252526;
$fontColor: #e9e9e9;
$leftmenuSubBg: #37373d;
$hoverBg: #55555d;
$hoverColor: #fafafa;
$divider: #474747;

// .psone-container {
//   border-right: $dividergray;
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   font-family: "JetBrains", monospace;
//   font-weight: 400;
//   background-color: $leftmenuMainBg;
//   top: 0;
//   left: 45px;
//   color: $fontColor;
//   padding-left: 6px;
//   padding-right: 6px;
//   width: 365px;
// }
.option-item {
  background: #acb0f8f2;
  font-size: 1.5rem;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid $divider;
  &-header {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
  }
}
.ps-btn--container {
  display: flex;
  justify-content: start;
}

//  display: ${(props) => (props.open ? "none" : "block")};
