$dividergray: #e1e4e8;
//  background-color: rgb(255, 255, 255);
.left-menu {
  border-right: 1px solid $dividergray;
  // background-color: rgb(255, 121, 121);
  position: absolute;
  z-index: 10;
  background: white;
  width: 100%;
}
