$dividergray: #e1e4e8;
//  background-color: rgb(255, 255, 255);
.left-menu {
  width: 500px;
  border-right: 1px solid $dividergray;
  background-color: rgb(255, 121, 121);
  min-height: 700px;
}
.left-menu-container {
  background-color: white;
  padding: 20px 2px;
  position: fixed;
}
