.prm-el {
  padding: 10px;
  display: inline-block;
}
.psone-line-container {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  border-radius: 4px;
}
