.prm-el {
  padding: 10px;
  display: inline-block;
}
.psone-line-container {
  background-color: rgb(219, 219, 219);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  border-radius: 4px;
}
.line-two {
  width: 100%;
  height: 50px;
  background-color: coral;
}
