.bold {
  font-weight: 700;
  opacity: 100%;
}
.regular {
  opacity: 95%;
  font-weight: 300;
}
.underscore {
  text-decoration: underline;
}
///old
.blink {
  animation: blink-animation 0.8s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
