.range--container {
  border: 1px solid #dddddd;
  height: 4rem;
  /* width: 100%;
    border-radius: 5rem; */
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.inputs__item {
  -webkit-appearance: none;
  width: 80%;
  height: 100%;
  background-color: transparent;
}
.inputs__item:focus {
  outline: none;
}
.inputs__item::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: -5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  cursor: pointer;
}
.inputs__item::-webkit-slider-runnable-track {
  width: 60%;
  height: 9px;
  background-color: #bdbdbd;
  border-radius: 3rem;

  transition: all 0.5s;
  cursor: pointer;
}

.inputs--red:hover::-webkit-slider-runnable-track {
  background-color: red;
}
.inputs--green:hover::-webkit-slider-runnable-track {
  background-color: green;
}
.inputs--blue:hover::-webkit-slider-runnable-track {
  background-color: blue;
}

.inputs__item::-ms-track {
  width: 60%;
  cursor: pointer;
  height: 9px;

  transition: all 0.5s;
  /* Hides the slider so custom styles can be added */
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.inputs__item::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: -5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  cursor: pointer;
}

.inputs__item::-ms-fill-lower {
  background-color: #bdbdbd;
  border-radius: 3rem;
}
.inputs--red:focus::-ms-fill-lower {
  background-color: red;
}
.inputs--green:focus::-ms-fill-lower {
  background-color: green;
}
.inputs--blue:focus::-ms-fill-lower {
  background-color: blue;
}

.inputs__item::-ms-fill-upper {
  background-color: #bdbdbd;
  border-radius: 3rem;
}

.inputs--red:focus::-ms-fill-upper {
  background-color: red;
}
.inputs--green:focus::-ms-fill-upper {
  background-color: green;
}
.inputs--blue:focus::-ms-fill-upper {
  background-color: blue;
}

.inputs__item::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: -5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  cursor: pointer;
}

.inputs__item::-moz-range-track {
  width: 60%;
  height: 9px;
  background-color: #bdbdbd;
  border-radius: 3rem;
  transition: all 0.5s;
  cursor: pointer;
}

.inputs--red:hover::-moz-range-track {
  background-color: red;
}
.inputs--green:hover::-moz-range-track {
  background-color: green;
}
.inputs--blue:hover::-moz-range-track {
  background-color: blue;
}
