@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "../../../style/var";

/*VAR*/
$height: 37px;
$OS: "Open Sans", sans-serif;

/*GLOBAL*/

/*PLUGIN*/
.select {
  font-size: 1.6rem;
  position: relative;
  width: 100%;
  background-color: white;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  &.open {
    .select {
      &__dropdown {
        display: block;
      }
    }
  }

  &__input {
    border-top: 1px solid $dividergray;
    border-bottom: 1px solid $dividergray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  &__dropdown {
    display: none;
    position: absolute;
    border: 1px solid $dividergray;
    left: 0;
    right: 0;
    top: $height;
    max-height: 371px;
    overflow-y: auto;
    border-bottom: 1px solid red;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.6rem;
  }

  &__item {
    cursor: pointer;
    overflow: hidden;
    padding: 1rem;
    border-bottom: 1px solid $dividergray;
    background-color: white;

    &.selected {
      background-color: red;
    }
    &:hover {
      background-color: $dividergray;
      cursor: pointer;
      transition: background-color 0.15s ease-in;
    }
  }
}
