// APP BASE COLOR SCHEMA
$font_color: #e9e9e9;
$font_color_on_hover: #fafafa;

$app_main_bg: #252526;
$app_editor_bg: #1b1b1b;
$app_sub_bg: #37373d;
$app_bg_on_hover: #55555d;

$divider: #474747;

// TRUE EGUANA COLOR SCHEMA

/// GREEN RANGE
$Green_100: #254241;
$Green_75: #1e5751;
$Green_50: #2dafaa; // functoin
/// BLUE RANGE
$Blue_100: #081f37;
$Blue_75: #264e73;
$blue_50: #3675af;
/// PURPLE RANGE
$Purple_100: #494b68;
$Purple_75: #8386ba;
$Purple_50: #acb0f8;

// .test {
//   transition: 0.1s;
// color: transparent
// }
