@import "./var";
@import "./reset.scss";
@import "./shellline";
@import "./terminaloptions";
@import "./elglobal.scss";
@import "./headerArea.scss";
@import "./termArea.scss";
@import "./aboutpage.scss";

@font-face {
  font-family: "JetBrains";
  src: url("../public/fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf");
}
//GLOBAL STYLE
//ALL NAV BUTTONS
.nav-handler {
  font-family: "JetBrains";
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
// GLOBAL STYLE CONTENT LIMITER  --- Header Main Footer
// main {
//   background-color: red; //$bggray;
// }
.content--limiter {
  max-width: 1552px; // 48px reserve
  margin: 0 auto;
  @media (max-width: 1550px) {
    width: calc(100% - 48px);
  }
}
.app {
  font-family: $mainfont;
  background: #f6f8fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  &-header {
    font-size: 1.4rem;
    background-color: rgb(0, 0, 0);
    color: white;
    a {
      font-size: 1.4rem;
      color: white;
      :hover {
        text-decoration: underline;
      }
    }
  }
  &-main {
    flex: 2;
  }
  &-footer {
    font-size: 1.4rem;
    background-color: rgb(0, 0, 0);
    color: white;
  }
}
