.palette {
  width: 300px;
  border-left: 5px solid #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  &__item {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 1px;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      border: 2px solid dimgray;
    }
  }
}
.base-color {
  width: 10px;
  height: 10px;
}
