.psone-options-info {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  &.close {
    visibility: hidden;
    opacity: 0;
  }
  &__title {
    font-size: 3rem;
    color: rgb(26, 101, 240);
    background-color: rgb(177, 196, 233);
    margin-bottom: 6px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .disclaimer--close {
      color: black;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
  &__text {
    border-top: 1px solid black;
    font-size: 1.4rem;
    padding: 10px;
    border: 1px solid rgb(177, 196, 233);
    .info-cont {
      padding: 3px 0;
    }
    .c-name {
      padding: 2px 0;
      background-color: hsl(0, 0%, 97%);
    }
    .c-res {
      padding-left: 10px;
    }
  }
}
