.palette {
  padding: 10px;
  font-family: "JetBrains";
  &__item {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 1px;
    margin: 1px;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      border: 1px solid dimgray;
    }
  }
}
