@import "./var";

.shell-window {
  font-family: $mainfont;
  font-size: 1.6rem;
  display: flex;
  flex-basis: 40%;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  height: 400px;
  background-color: black;
  overflow: hidden;
  .prompt {
    &__name {
      color: white;
    }
  }
}
