@import "./var";
@import "./reset.scss";
@import "./header";
@import "./shellline";
@import "./terminaloptions";
@import "./result";
@font-face {
  font-family: "JetBrains";
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}
main {
  background-color: $bggray;
}

.left--menu {
  width: 60px;
  background-color: white;
  border-left: 1px solid $dividergray;
  height: 100vh;
  position: relative;
  padding: 20px 10px;
  .options-btn {
    font-family: $mainfont;
    width: 100%;
    &__controll {
      font-size: 2rem;
      cursor: pointer;
    }
  }
}
.global-style {
  font-family: $mainfont;
}
.shell-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.font-test {
  font-family: $mainfont;
  .reg {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .bold {
    font-size: 1.8rem;
    font-weight: 400;
  }
}

//GLOBAL STYLE
//ALL NAV BUTTONS
.nav-handler {
  font-family: "JetBrains";
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
