@import "./var";
@import "./reset.scss";
@import "./header";
@import "./shellline";
@import "./terminaloptions";
@import "./result";
@import "./elglobal.scss";
@font-face {
  font-family: "JetBrains";
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}
main {
  background-color: $bggray;
}

.global-style {
  font-family: $mainfont;
}
.shell-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.font-test {
  font-family: $mainfont;
  .reg {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .bold {
    font-size: 1.8rem;
    font-weight: 400;
  }
}

//GLOBAL STYLE
//ALL NAV BUTTONS
.nav-handler {
  font-family: "JetBrains";
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
