.top-menu {
  &__item {
    font-size: 14px;
    color: red;
    padding: 10px;
    margin-right: 5px;
    &:hover {
      color: royalblue;
    }
    &:active {
    }
  }
}

.is-active {
  color: rgb(233, 200, 200);
}
